.sliderLayoutContainer {
  justify-content: center;
}
.sliderLayoutContainer--carousel {
  background-color: #F0F0F0;
}

.sliderTrackContainer {
  max-width: 1520px;
}

.paginationDotsContainer {
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.layoutContainer--shelf {
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 96rem;
}

.slide--shelf {
  margin-bottom: 25px;
  padding-left: .5rem;
  padding-right: .5rem;
}

.slideChildrenContainer--linhas-especiais {
  padding: 0 15px;
}

.slide--linhas-especiais {
  padding: 0 15px;
}

.imageElement--linhas-especiais {
  margin: 12px 20px 0;
}

.imageElementLink--linhas-especiais {
  padding: 27px 18px;
  position: relative;
  height: 100%;
}

.imageElementLink--linhas-especiais::before {
  background-color: #f08b1d;
  content: '';
  height: 3px;
  left: 0;
  position: absolute;
  bottom: 0;
  transition: width .6s;
  width: 0;
}

.imageElementLink--linhas-especiais:hover::before {
  width: 100%;
}
