.footerLayout .socialNetworksTitle {
  text-transform: unset;
  margin-bottom: 1rem;
  font-weight: bold;
  font-size: 1rem;
  color: #2E2E2E;
}

@media screen and (max-width: 1025px) {
  .footerLayout .socialNetworkWrapper {
    background-color: #F5F5F5;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    flex-wrap: wrap;
    display: flex;
  }
  .footerLayout .socialNetworksContainer {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
  }
}